@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">An error occurred while processing your request.</h1>
<h2>Details:</h2>
<p>@Model.Error.Message</p>
@* <p>@Model.Error.StackTrace</p> *@